/* ProductSlider.css */

.box {
    padding: 10px;
    box-sizing: border-box;
    height: 100%;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: #03004717 0 5px 10px;
    border-radius: 8px;
    transition: transform 0.2s;
    height: 100%;
}

.product:hover {
    transform: scale(1.05);
}

.img {
    width: 100%;
    height: 200px; /* Ajusta la altura según tus necesidades */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.img img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.product-details {
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Asegura que el contenedor de detalles ocupe todo el espacio disponible */
    justify-content: space-between; /* Distribuye uniformemente el espacio entre los elementos */
    margin-top: 10px;
    width: 100%; /* Asegura que los detalles ocupen todo el ancho disponible */
}

.product h3 {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 10px;
    white-space: normal;
    min-height: 60px; /* Añade una altura mínima para los títulos */
    overflow: hidden; /* Oculta el desbordamiento */
    text-overflow: ellipsis; /* Añade puntos suspensivos al final del texto desbordante */
    display: -webkit-box; /* Soporte para WebKit */
    -webkit-line-clamp: 2; /* Limita el número de líneas */
    -webkit-box-orient: vertical; /* Define la orientación de la caja */
}

.price {
    margin: 10px 0;
}

.counter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.counter button {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    padding: 5px 10px;
    cursor: pointer;
    outline: none;
}

.counter label {
    margin: 0 10px;
}

.cart-add-btn {
    background: #5cc0f2;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
}

.cart-add-btn:hover {
    color: white;
    background-color: #0d6896;
  }

.control-btn .next, .control-btn .prev {
    position: absolute;
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    top: 50%;
    background: #5cc0f2;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transform: translateY(-50%);
    z-index: 1;
}

.control-btn .next i,.control-btn .prev i {
    font-size: 25px;
    transition: .5s;
    color: #fff;

}

.control-btn .next:hover,.control-btn .prev:hover {
    background: #0d6896;
    color: #fff;
    cursor: pointer
}

.control-btn .prev {
    left: -25px; /* Ajusta esta distancia según sea necesario */
}

.control-btn .next {
    right: -25px; /* Ajusta esta distancia según sea necesario */
}

@media (max-width: 768px) {
    .img {
        height: 150px; /* Ajusta la altura según tus necesidades */
    }
}

@media (max-width: 576px) {
    .img {
        height: 100px; /* Ajusta la altura según tus necesidades */
    }
}
