/* AdSlider.css */

/* Asegúrate de que todas las imágenes del slider sean del mismo tamaño y estén centradas */
.ad-slider {
    margin: 0 auto; /* Centra el slider horizontalmente */
    max-width: 100%; /* Ajusta el ancho máximo según el contenedor */
}

.ad-slide {
    display: flex;
    justify-content: center; /* Centra horizontalmente la imagen */
    height: 350px; /* Altura predeterminada */
    max-width: 500px; /* Ancho máximo predeterminado */
    width: 100%;
    background-color: #f5f5f5; /* Color de fondo para mostrar la diferencia entre imágenes */
}

.ad-slide img {
    max-height: 100%;
    max-width: 100%; /* Asegura que la imagen no se desborde */
    object-fit: contain; /* Asegúrate de que la imagen se ajuste dentro del contenedor sin deformarse */
}

@media (max-width: 768px) {
    .ad-slide {
        height: 250px; /* Ajusta la altura para dispositivos medianos */
        max-width: 100%; /* Ajusta el ancho máximo para dispositivos medianos */
    }
}

@media (max-width: 576px) {
    .ad-slide {
        height: 200px; /* Ajusta la altura para dispositivos pequeños */
        max-width: 100%; /* Ajusta el ancho máximo para dispositivos pequeños */
    }
}
