body {
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #2c3e50;
}

h2 {
    text-align: center;
    color: #2980b9;
}

table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

th, td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #5cc0f2;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.create-product-container {
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.create-product-container h2 {
    margin-bottom: 20px;
}

.create-product-container input, .create-product-container button {
    display: inline-block;
    margin-bottom: 10px;
}

.create-product-container button {
    background-color: #2980b9;
    color: #fff;
}

button, .edit-link {
    padding: 8px 12px;
    width: 90px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none; /* Agregado para eliminar el subrayado del enlace */
}

button:hover, .edit-link:hover {
    background-color: #0d6896;
    color: #fff;
}

.edit-link {
    background-color: #5cc0f2;
    color: white;
}

button:hover, .delete-link:hover {
    background-color: red;
    color: #fff;
}

.delete-link {
    background-color: #cd4422;
    color: white;
}

button, .create-link {
    padding: 8px 12px;
    width: 90px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none; /* Agregado para eliminar el subrayado del enlace */
}

button:hover, .create-link:hover {
    background-color: #0d6896;
    color: #fff;
}

.create-link {
    background-color: #5cc0f2;
    color: white;
}