/* Estilos globales */
body {
  font-family: Arial, sans-serif;
  background-color: #F3DFB9; /* Fondo crema */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#root {
  width: 100%;
  height: 100%;
}

.landing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #F3DFB9;
  padding: 20px; /* Añadir padding para evitar el desbordamiento */
  box-sizing: border-box; /* Incluir padding y borde en el tamaño del elemento */
}

/* Estilos para la tarjeta de la landing page */
.landing-card {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1000px;
  height: 600px; /* Altura fija */
  background-color: #FBF4E5;
  border: 7px solid #CCB27B; /* Color primario (vino tinto) */
  border-radius: 20px;
  box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Para evitar que el contenido desborde */
}

/* Estilos para la columna izquierda */
.landing-left {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.landing-logo {
  width: 300px;
  max-width: 100%;
  padding: 10px;
  margin-bottom: -20px;
  transition: transform 0.4s ease; /* Transición suave */
}

.landing-logo:hover {
  transform: scale(1.07); /* Aumenta el tamaño del logo al 120% */
}

.slogan {
  color: #292929; /* Texto negro suave */
  text-align: center;
}

.landing-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.landing-button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #7B3F00; /* Color primario (vino tinto) */
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.landing-button:hover {
  background-color: #5a2e00;
}

.landing-main-button {
  border-radius: 10px;
  font-weight: bold;
  background-color: #DAA520; /* Color secundario (dorado) */
}

.landing-main-button:hover {
  background-color: #b58e18;
}

/* Estilos para la columna derecha */
.landing-right {
  flex: 1;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilos para el quiz */
.quiz-container {
  width: 100%;
  max-width: 450px; /* Ancho máximo para el quiz */
  text-align: center;
  background-color: #fff3e6; /* Fondo claro específico para el quiz */
  border: 3px solid #CCB27B; /* Borde a juego con la tarjeta principal */
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.quiz-header {
  font-size: 24px;
  font-weight: bold;
  color: #7B3F00;
  margin-bottom: 20px;
}

.quiz-question {
  margin-bottom: 20px;
  color: #7B3F00;
}

.quiz-options button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  color: white;
  background-color: #7B3F00;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.quiz-options button:hover {
  background-color: #5a2e00;
}

.quiz-result h3 {
  color: #7B3F00;
}

.quiz-main-button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #DAA520;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
}

.quiz-main-button:hover {
  background-color: #b58e18;
}

/* Media query para dispositivos pequeños */
@media (max-width: 768px) {
  .landing-card {
    flex-direction: column;
    width: 100%; /* Ajustar el ancho para dispositivos más pequeños */
    height: auto; /* Ajustar la altura automáticamente */
  }

  .landing-right {
    padding-top: 0;
    padding-bottom: 20px;
  }
}
