nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f3dfb9;
    width: 100%;
}

nav .title {
    font-size: 1.5rem;
    margin: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: #292929;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: #292929;
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
}